Repository KrutonS/swiadomosc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

husky test
  .eslintrc.json
  .lintstagedrc
  .lintstagedrc.js
  .stylelintrc
  package-lock.json
  package.json
  pages/_app.tsx
Due: prettier --config .prettierrc --write, eslint --fix

husky test
  .eslintrc.json
  pages/_app.tsx
Due: prettier --config .prettierrc --write, eslint --fix

logo, some basic css variables and mobile typography structured with #regions
  .eslintrc.json
  .lintstagedrc.json
  assets/svg/logo.svg
  components/header.tsx
  components/logo.tsx
  components/pages-links.tsx
  next.config.js
  package-lock.json
  package.json
  pages/_app.tsx
  pages/api/hello.ts
  pages/index.tsx
  styles/Header.module.css
  styles/Logo.module.css
  styles/globals.css
  tsconfig.json
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

ul and a resets
  styles/globals.css
Due: prettier --config .prettierrc --write, npx stylelint --fix

scss added with breakpoint1:900px, some work on hamburger and logo is flex
  .stylelintrc
  .stylelintrc.json
  styles/Hamburger.module.scss
  styles/Home.module.css
  styles/Logo.module.css
  styles/globals.scss
Due: prettier --config .prettierrc --write, npx stylelint --fix

moved sass variables to separate file
  pages/_app.tsx
  styles/Hamburger.module.scss
  styles/_variables.scss
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

updated stylelint to work with scss
  .stylelintrc.json
  package-lock.json
  package.json
  styles/globals.scss
Due: prettier --config .prettierrc --write, npx stylelint --fix

removed unnecesary stylelint config
  .stylelintrc.json
  package.json
Due: none

delete redundant lintstaged config
  .lintstagedrc.js
Due: prettier --config .prettierrc --write, eslint --fix

WIP header done, favicon is here
  components/logo.tsx
  pages/_app.tsx
  pages/o-nas.tsx
  public/favicon.ico
  public/logo.svg
  public/vercel.svg
  styles/Hamburger.module.scss
  styles/Header.module.scss
  styles/_variables.scss
  styles/globals.scss
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

better control of hero scrollbutton size with just one local variable
  styles/About.module.scss
Due: prettier --config .prettierrc --write, npx stylelint --fix

h1, h2 block margins applied as mixin, max width of h1..h6, p, article nodes set for better readibility, articles are centered by margins for mobiles only
  pages/o-nas.tsx
  styles/About.module.scss
  styles/_variables.scss
  styles/globals.scss
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

better namings for regions to resemble mobile first methodic. Also capitalised lol"
  styles/globals.scss
Due: prettier --config .prettierrc --write, npx stylelint --fix

major work done. Everything to last post, that is almost finished. Typographt for desktop.
  components/hero.tsx
  components/last-post.tsx
  components/text-image.tsx
  components/two-column.tsx
  package-lock.json
  package.json
  pages/o-nas.tsx
  public/comments.svg
  public/greek.jpeg
  public/greek.jpg
  public/mock/avatar.jpg
  styles/About.module.scss
  styles/Hamburger.module.scss
  styles/Header.module.scss
  styles/Hero.module.scss
  styles/LastPost.module.scss
  styles/Logo.module.scss
  styles/TwoColumn.module.scss
  styles/_variables.scss
  styles/globals.scss
  types.ts
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

force vercel update
  components/last-post.tsx
Due: prettier --config .prettierrc --write, eslint --fix

changed TwoColumn component name to TextList
  components/text-list.tsx
  pages/o-nas.tsx
Due: prettier --config .prettierrc --write, eslint --fix

HTML & TS done for footer. Added Input component for texts n stuff"
  components/footer/index.tsx
  components/footer/left..tsx
  components/footer/right.tsx
  components/input.tsx
  pages/_app.tsx
  styles/Input.module.scss
  styles/footer.module.scss
  styles/globals.scss
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

fix unknow attr error
  components/input.tsx
  pages/o-nas.tsx
Due: prettier --config .prettierrc --write, eslint --fix

added typescript to eslint
  .eslintrc.json
  package-lock.json
  package.json
Due: none

removed unnecesary deps and css ile, gave footer background and z index
  components/footer/index.tsx
  components/footer/left..tsx
  components/footer/right.tsx
  next-env.d.ts
  package-lock.json
  package.json
  pages/o-nas.tsx
  styles/About.module.scss
  styles/footer.module.scss
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

changed name: color-contrast to color-gray, new shade of gray: shifted the color gray indexes by 1
  styles/Hamburger.module.scss
  styles/LastPost.module.scss
  styles/Logo.module.scss
  styles/_variables.scss
  styles/footer.module.scss
  styles/globals.scss
Due: prettier --config .prettierrc --write, npx stylelint --fix

eslint typescript test
  .eslintrc.json
  .husky/pre-commit
  .lintstagedrc.json
  components/footer/right.tsx
  components/last-post.tsx
  components/logo.tsx
  package.json
Due: prettier --config .prettierrc --write, eslint --fix

display flexes are now extended by %flex"
  components/input.tsx
  styles/Hamburger.module.scss
  styles/Header.module.scss
  styles/Input.module.scss
  styles/LastPost.module.scss
  styles/Logo.module.scss
  styles/TwoColumn.module.scss
  styles/_variables.scss
  styles/footer.module.scss
  styles/globals.scss
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

footer, h4, h5, two column, %text-reset in Button for consistency between submit and button types are done, footer for mobile done,
  components/footer/address.tsx
  components/footer/index.tsx
  components/footer/left..tsx
  components/footer/right.tsx
  styles/Button.module.scss
  styles/Header.module.scss
  styles/Input.module.scss
  styles/Logo.module.scss
  styles/TwoColumn.module.scss
  styles/_variables.scss
  styles/footer.module.scss
  styles/globals.scss
  types.ts
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

Rename footer.module.scss to Footer.module.scss
  styles/Footer.module.scss
Due: prettier --config .prettierrc --write, npx stylelint --fix

fixed header logo size
  styles/Header.module.scss
Due: prettier --config .prettierrc --write, npx stylelint --fix

btn cursor pointer fix
  styles/Button.module.scss
Due: prettier --config .prettierrc --write, npx stylelint --fix

header padding fix
  styles/Header.module.scss
Due: prettier --config .prettierrc --write, npx stylelint --fix

smooth scroll margin
  pages/o-nas.tsx
  styles/About.module.scss
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

heading for Meetings page, h1 size is now based on vw, some Calendar HTML
  components/calendar.tsx
  components/text-list.tsx
  pages/spotkania.tsx
  styles/Calendar.module.scss
  styles/Meetings.module.scss
  styles/TwoColumn.module.scss
  styles/_variables.scss
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

fixed footer padding
  styles/Footer.module.scss
  styles/LastPost.module.scss
Due: prettier --config .prettierrc --write, npx stylelint --fix

lowered specificy for typography using :where
  styles/globals.scss
Due: prettier --config .prettierrc --write, npx stylelint --fix

button component width now fits content instead of container
  styles/Button.module.scss
Due: prettier --config .prettierrc --write, npx stylelint --fix

Footer buttons now have appropiate widths
  styles/Button.module.scss
  styles/Footer.module.scss
Due: prettier --config .prettierrc --write, npx stylelint --fix

padding of %text and %button -paddings now depend on root fontsize. %border thickness adjustment
  styles/_variables.scss
Due: prettier --config .prettierrc --write, npx stylelint --fix

date and math functions for calendar. Calendar without meeting cells is done
  .eslintrc.json
  components/calendar.tsx
  components/calendar/column.tsx
  components/calendar/index.tsx
  package-lock.json
  package.json
  styles/Calendar.module.scss
  styles/FixedImage.module.scss
  styles/Meetings.module.scss
  types.ts
  utils/date/dayName.ts
  utils/date/dayRange.ts
  utils/date/forwardDays.ts
  utils/date/monthNames.ts
  utils/date/msTimes.ts
  utils/date/numberToHour.ts
  utils/math/clamp.tsx
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

removed test column bg
  styles/Calendar.module.scss
Due: prettier --config .prettierrc --write, npx stylelint --fix

Path conditions:
  prettier --config .prettierrc --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss})
  eslint --fix: any of: *.{js,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
