Repository KrutonS/swiadomosc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

add underline and reset state after hide
  components/auth/index.tsx
Due: prettier --config .prettierrc --write, eslint --fix

fix tsc
  .husky/pre-commit
Due: none

basic error system
  utils/errors.ts
  utils/hooks/errors.ts
Due: prettier --config .prettierrc --write, eslint --fix

show user name on nav when logged in
  components/pages/header/index.tsx
  components/pages/header/navAuth.tsx
Due: prettier --config .prettierrc --write, eslint --fix

give nice pink to heading
  components/pages/footer/right.tsx
  styles/Footer.module.scss
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

fix required on second input
  components/user-inputs/input-compare.tsx
Due: prettier --config .prettierrc --write, eslint --fix

style fixes
  pages/_app.tsx
  styles/Auth.module.scss
  styles/Header.module.scss
  styles/Input.module.scss
  styles/globals.scss
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

better organise types
  components/user-inputs/button.tsx
Due: prettier --config .prettierrc --write, eslint --fix

add nbsp
  utils/globals.ts
Due: prettier --config .prettierrc --write, eslint --fix

async hook
  utils/hooks/async.ts
Due: prettier --config .prettierrc --write, eslint --fix

basic authentication and registration"
  components/auth/sign-in.tsx
  components/auth/sign-up.tsx
  components/user-inputs/input.tsx
  lib/firebase.ts
Due: prettier --config .prettierrc --write, eslint --fix

make %dialog placeholder
  styles/Auth.module.scss
  styles/_variables.scss
  styles/globals.scss
Due: prettier --config .prettierrc --write, npx stylelint --fix

general custom error type
  utils/errors.ts
Due: prettier --config .prettierrc --write, eslint --fix

make app export
  lib/firebase.ts
  pages/action.tsx
Due: prettier --config .prettierrc --write, eslint --fix

Revert "general custom error type"
  utils/errors.ts
Due: prettier --config .prettierrc --write, eslint --fix

verify page
  styles/Verify.module.scss
Due: prettier --config .prettierrc --write, npx stylelint --fix

make custom app error class
  utils/errors.ts
Due: prettier --config .prettierrc --write, eslint --fix

show error code instead of message
  utils/errors.ts
Due: prettier --config .prettierrc --write, eslint --fix

refactor auth, postInfo, init firebase functions, modify eslint, minor css fixes
  .eslintrc.json
  components/auth/sign-in.tsx
  components/auth/sign-up.tsx
  components/pages/about/last-post.tsx
  components/pages/blog/post-item.tsx
  components/pages/header/navAuth.tsx
  components/postInfo/author.tsx
  components/postInfo/avatar.tsx
  components/postInfo/index.tsx
  firefunctions/.firebaserc
  firefunctions/.gitignore
  firefunctions/firebase.json
  firefunctions/firestore.indexes.json
  firefunctions/firestore.rules
  firefunctions/functions/.gitignore
  firefunctions/functions/package-lock.json
  firefunctions/functions/package.json
  firefunctions/functions/src/index.ts
  lib/firebase.ts
  next-env.d.ts
  package-lock.json
  package.json
  pages/_app.tsx
  pages/action.tsx
  pages/blog/[slug].tsx
  styles/Auth.module.scss
  styles/Footer.module.scss
  styles/_variables.scss
  utils/firebase/auth.tsx
  utils/hooks/errors.ts
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

remove comments
  components/user-inputs/select.tsx
  utils/accessibleClick.ts
  utils/date/dayRange.ts
Due: prettier --config .prettierrc --write, eslint --fix

small changes
  components/auth/sign-in.tsx
  pages/blog/[slug].tsx
  types.ts
  utils/errors.ts
  utils/hooks/async.ts
  utils/hooks/errors.ts
Due: prettier --config .prettierrc --write, eslint --fix

delete firefunctions and use mongo. Basic implementation of comments
  .eslintrc.json
  components/pages/calendar/column.tsx
  components/pages/calendar/index.tsx
  firefunctions/.firebaserc
  firefunctions/.gitignore
  firefunctions/firebase.json
  firefunctions/firestore.indexes.json
  firefunctions/firestore.rules
  firefunctions/functions/.gitignore
  firefunctions/functions/package-lock.json
  firefunctions/functions/package.json
  firefunctions/functions/src/index.ts
  lib/mongo.ts
  models/Comment.ts
  models/utils.ts
  package-lock.json
  package.json
  pages/api/comments/[...params].ts
  pages/api/comments/index.ts
  pages/api/test/index.ts
  pages/spotkania.tsx
  tsconfig.json
  types.ts
  utils/api/comments/addComment.ts
  utils/api/comments/getCommentByUser.ts
  utils/api/comments/types.ts
  utils/api/handleApiError.ts
  utils/api/types.ts
  utils/apiClient/fetcher.ts
  utils/hooks/isomoprhicEffect.ts
Due: prettier --config .prettierrc --write, eslint --fix

fix stale requests
  pages/api/comments/[...params].ts
  pages/api/comments/index.ts
Due: prettier --config .prettierrc --write, eslint --fix

major update
  components/auth/sign-in.tsx
  components/auth/sign-up.tsx
  components/comments/comment.tsx
  components/comments/index.tsx
  components/error-info.tsx
  components/logo.tsx
  components/pages/about/last-post.tsx
  components/pages/blog/post-item.tsx
  components/postInfo/author.tsx
  components/postInfo/avatar.tsx
  components/postInfo/index.tsx
  lib/mongo.ts
  models/Comment.ts
  pages/api/comments/[...params].ts
  pages/api/comments/[id].ts
  pages/api/comments/index.ts
  pages/api/test/index.ts
  pages/blog/[slug].tsx
  styles/PostInfo.module.scss
  styles/comments.module.scss
  styles/error-info.module.scss
  types.ts
  utils/api/comments/addComment.ts
  utils/api/comments/deleteComment.ts
  utils/api/comments/getComment.ts
  utils/api/comments/getCommentByUser.ts
  utils/api/comments/getCommentsByPost.ts
  utils/api/comments/getCommentsByUser.ts
  utils/api/comments/updateComment.ts
  utils/api/getParameterFromUrl.ts
  utils/api/handleApiError.ts
  utils/api/types.ts
  utils/apiClient/comments/addClientComment.ts
  utils/apiClient/fetcher.ts
  utils/apiClient/nextApiFetch.ts
  utils/apiClient/useAppSWR.ts
  utils/contexts/user.tsx
  utils/errors.ts
  utils/firebase/auth.tsx
  utils/inputProps.ts
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

add comments counting for blog page, use xss sanitizer
  components/comments/index.tsx
  components/pages/blog/post-item.tsx
  package-lock.json
  package.json
  pages/api/comments/index.ts
  pages/blog/[slug].tsx
  pages/blog/index.tsx
  types.ts
  utils/api/comments/getCommentsByPost.ts
  utils/apiClient/comments/addClientComment.ts
Due: prettier --config .prettierrc --write, eslint --fix

Update README.md
  README.md
Due: none

Path conditions:
  prettier --config .prettierrc --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss})
  eslint --fix: any of: *.{js,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
