Repository KrutonS/swiadomosc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

new and adjusted colors in global, removed not used
  styles/globals.scss
Due: prettier --config .prettierrc --write, npx stylelint --fix

header improved readibility, fix for wrapper obstructing clicks"
  components/header.tsx
  styles/Header.module.scss
  styles/_variables.scss
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

rewrites test
  pages/index.tsx
Due: prettier --config .prettierrc --write, eslint --fix

month name in calendar now shows shortened names
  components/calendar/index.tsx
  styles/TwoColumn.module.scss
  utils/date/monthNames.ts
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

added graphql and graphql-request
  package-lock.json
  package.json
Due: none

set baseUrl for project code to .
  tsconfig.json
Due: none

updated Meeting interface
  types.ts
Due: prettier --config .prettierrc --write, eslint --fix

turn off more annoying rules
  .eslintrc.json
Due: none

more date utils
  utils/date/dateToHour.ts
  utils/date/endOfDay.ts
  utils/date/msTimes.ts
  utils/date/numberToHour.ts
  utils/date/startOfDay.ts
Due: prettier --config .prettierrc --write, eslint --fix

added function to handle cms requests
  lib/datocms.ts
Due: prettier --config .prettierrc --write, eslint --fix

AllMeetings CMS request
  pages/spotkania.tsx
Due: prettier --config .prettierrc --write, eslint --fix

exclude .vscode from git
  .gitignore
Due: none

calendar components now handle data from CMS
  components/calendar/column.tsx
  components/calendar/index.tsx
Due: prettier --config .prettierrc --write, eslint --fix

util to group and filter meetings based on minDate and maxDate
  utils/meetings.ts
Due: prettier --config .prettierrc --write, eslint --fix

styling for meetings, css code organised, base rework for it
  styles/Calendar.module.scss
Due: prettier --config .prettierrc --write, npx stylelint --fix

removed reduntant div from meeting cell
  components/calendar/column.tsx
  styles/Calendar.module.scss
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

SCSS calendar module optimizations. New %flex-center placeholder
  styles/Calendar.module.scss
  styles/_variables.scss
Due: prettier --config .prettierrc --write, npx stylelint --fix

roundend corners calendar
  styles/Calendar.module.scss
Due: prettier --config .prettierrc --write, npx stylelint --fix

make firstDate and lastDate separate objects to fix issues with mutation when number of days is 1
  components/calendar/index.tsx
Due: prettier --config .prettierrc --write, eslint --fix

some calendar css fixes
  styles/Calendar.module.scss
Due: prettier --config .prettierrc --write, npx stylelint --fix

fix next useLayoutEffect warning
  pages/spotkania.tsx
Due: prettier --config .prettierrc --write, eslint --fix

changed default behaviour of main: add padding on main. Reset padding to 0 in about.
  pages/o-nas.tsx
  styles/About.module.scss
  styles/Meetings.module.scss
  styles/globals.scss
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

added blog page. Abstracted page titles to use in multiple places
  components/desc-title.tsx
  pages/blog.tsx
  pages/spotkania.tsx
  styles/Blog.module.scss
  styles/DescTitle.module.scss
  types.ts
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

fix false value never used in function types parameters
  .eslintrc.json
  tsconfig.json
Due: none

added helper function accesibleClicks to quickly add accesible props to ex. divs with handler
  utils/accessibleClick.ts
Due: prettier --config .prettierrc --write, eslint --fix

added mixin to calculate distance between items in page
  styles/Meetings.module.scss
  styles/_variables.scss
  styles/globals.scss
Due: prettier --config .prettierrc --write, npx stylelint --fix

update post type
  components/last-post.tsx
  pages/o-nas.tsx
  types.ts
Due: prettier --config .prettierrc --write, eslint --fix

fix accesibleClicks optional params
  utils/accessibleClick.ts
Due: prettier --config .prettierrc --write, eslint --fix

changed request handling to apollo
  lib/datocms.ts
  package-lock.json
  package.json
  pages/spotkania.tsx
Due: prettier --config .prettierrc --write, eslint --fix

accesible clicks type fixes
  utils/accessibleClick.ts
Due: prettier --config .prettierrc --write, eslint --fix

select onClick events fixes
  components/select.tsx
Due: prettier --config .prettierrc --write, eslint --fix

update post related types
  types.ts
Due: prettier --config .prettierrc --write, eslint --fix

add helper function to handle dato requests simpler
  lib/datocms.ts
  pages/spotkania.tsx
Due: prettier --config .prettierrc --write, eslint --fix

Copied all native CSS variables to SCSS variables, new utility %placeholders, About and CallToAction fixes
  styles/About.module.scss
  styles/Button.module.scss
  styles/CallToAction.module.scss
  styles/Footer.module.scss
  styles/Header.module.scss
  styles/PostItem.module.scss
  styles/TwoColumn.module.scss
  styles/_variables.scss
Due: prettier --config .prettierrc --write, npx stylelint --fix

install react-datocms, blog page wip
  .husky/pre-commit
  components/post-item.tsx
  package-lock.json
  package.json
  pages/blog.tsx
  styles/Blog.module.scss
  styles/PostItem.module.scss
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

accessibleClicks function rework, new buttonClick utility function
  utils/accessibleClick.ts
Due: prettier --config .prettierrc --write, eslint --fix

button mechanic rework
  components/button.tsx
Due: prettier --config .prettierrc --write, eslint --fix

remove Option type
  types.ts
Due: prettier --config .prettierrc --write, eslint --fix

children in main are spaced out by default
  styles/globals.scss
Due: prettier --config .prettierrc --write, npx stylelint --fix

select component done
  components/select.tsx
  styles/Select.module.scss
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

Path conditions:
  prettier --config .prettierrc --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss})
  eslint --fix: any of: *.{js,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
