Repository KrutonS/swiadomosc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

.lintstagedrc:

{
	"*.{js,ts,tsx}": [
		"prettier --config .prettierrc --write",
		"eslint --fix",
	],
	"*.{css,scss}":[
		"prettier --config .prettierrc --write",
		'npx stylelint --fix',
	]
}

blog page WIP
  pages/blog.tsx
Due: prettier --config .prettierrc --write, eslint --fix

string capitalize utility
  utils/string/capitalize.ts
Due: prettier --config .prettierrc --write, eslint --fix

page-items-margin spacing calculation fix
  styles/_variables.scss
Due: prettier --config .prettierrc --write, npx stylelint --fix

select filtering fixed
  components/select.tsx
Due: prettier --config .prettierrc --write, eslint --fix

better postitem RWD - break titles in low widths
  styles/PostItem.module.scss
Due: prettier --config .prettierrc --write, npx stylelint --fix

remove unnecesary capitalize function
  components/select.tsx
  styles/Select.module.scss
  utils/string/capitalize.ts
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

select compoent done
  components/select.tsx
  styles/Select.module.scss
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

show applied filter in blog page
  pages/blog.tsx
  styles/Blog.module.scss
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

New utility type: FilterProperties<Object, Properties>, to make constructing types for Responses of graphql easier
  .husky/pre-commit
  types.ts
Due: prettier --config .prettierrc --write, eslint --fix

emptied about page, new queries for about datocms data, responsiveImageFragment is now used as a simple string to paste inside responsiveImage query
  lib/datocms.ts
  pages/blog.tsx
  pages/o-nas.tsx
Due: prettier --config .prettierrc --write, eslint --fix

Added about-page-content to handle aboutPage dynamic layout, adjusted components to work with new data types, new typescript types for datocms queries
  components/call-to-action.tsx
  components/fixed-image.tsx
  components/hero.tsx
  components/last-post.tsx
  components/post-item.tsx
  components/text-image.tsx
  components/text-list.tsx
  pages/o-nas.tsx
  types.ts
  utils/about-page-content.tsx
Due: prettier --config .prettierrc --write, eslint --fix

styling adjustments for changed HTML
  styles/About.module.scss
  styles/CallToAction.module.scss
  styles/FixedImage.module.scss
  styles/Hero.module.scss
  styles/LastPost.module.scss
  styles/TwoColumn.module.scss
Due: prettier --config .prettierrc --write, npx stylelint --fix

migrated global css native variables to scss variables
  styles/Calendar.module.scss
  styles/Footer.module.scss
  styles/Hamburger.module.scss
  styles/Header.module.scss
  styles/Hero.module.scss
  styles/Input.module.scss
  styles/LastPost.module.scss
  styles/Logo.module.scss
  styles/PostItem.module.scss
  styles/TwoColumn.module.scss
  styles/_variables.scss
  styles/globals.scss
Due: prettier --config .prettierrc --write, npx stylelint --fix

Update README.md
  README.md
Due: none

moved Header and Footer into a Layout component, split complicated queries into fragments, new type for Contact data, Footer now receives info about contact from CMS
  components/footer/address.tsx
  components/footer/contact-info.tsx
  components/footer/index.tsx
  components/footer/left..tsx
  components/layout.tsx
  components/post-item.tsx
  lib/datocms.ts
  pages/_app.tsx
  pages/blog.tsx
  pages/o-nas.tsx
  pages/spotkania.tsx
  types.ts
Due: prettier --config .prettierrc --write, eslint --fix

updated types related to structured content and posts
  types.ts
Due: prettier --config .prettierrc --write, eslint --fix

updated types related to structured content and posts
  components/video.tsx
  package-lock.json
  package.json
  styles/Video.module.scss
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

organised components and styles into groups, abstracted post-info component, integrated video and post info component
  components/about/hero.tsx
  components/about/last-post.tsx
  components/about/text-image.tsx
  components/about/text-list.tsx
  components/blog/post-item.tsx
  components/calendar/column.tsx
  components/calendar/index.tsx
  components/call-to-action.tsx
  components/last-post.tsx
  components/postInfo/author.tsx
  components/postInfo/avatar.tsx
  components/postInfo/index.tsx
  components/title-desc.tsx
  pages/blog/index.tsx
  pages/o-nas.tsx
  pages/spotkania.tsx
  styles/PostInfo.module.scss
  styles/PostItem.module.scss
  styles/about/About.module.scss
  styles/about/CallToAction.module.scss
  styles/about/Hero.module.scss
  styles/about/LastPost.module.scss
  styles/about/TwoColumn.module.scss
  styles/blog/Blog.module.scss
  styles/globals.scss
  styles/meetings/Calendar.module.scss
  styles/meetings/Meetings.module.scss
  utils/about-page-content.tsx
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

added links to posts in postItem and made pages for posts
  components/blog/post-item.tsx
  pages/blog/[slug].tsx
  styles/post/Post.module.scss
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

connected calendar transform settings with CMS
  components/calendar/index.tsx
  pages/spotkania.tsx
  types.ts
Due: prettier --config .prettierrc --write, eslint --fix

clip meetings under min hour
  components/calendar/column.tsx
Due: prettier --config .prettierrc --write, eslint --fix

lower spacing in Post page
  pages/blog/[slug].tsx
  styles/post/Post.module.scss
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

Post page hr margin fix
  styles/post/Post.module.scss
Due: prettier --config .prettierrc --write, npx stylelint --fix

add SEO handling from CMS
  components/calendar/index.tsx
  components/layout.tsx
  lib/datocms.ts
  pages/blog/[slug].tsx
  pages/blog/index.tsx
  pages/o-nas.tsx
  pages/spotkania.tsx
  types.ts
Due: prettier --config .prettierrc --write, eslint --fix

add firebase and signing-up, reorganize components files, add input repeat 'input-compare'
  components/pages/about/hero.tsx
  components/pages/about/last-post.tsx
  components/pages/about/text-image.tsx
  components/pages/about/text-list.tsx
  components/pages/blog/post-item.tsx
  components/pages/calendar/column.tsx
  components/pages/calendar/index.tsx
  components/pages/footer/address.tsx
  components/pages/footer/contact-info.tsx
  components/pages/footer/index.tsx
  components/pages/footer/left..tsx
  components/pages/footer/right.tsx
  components/pages/layout.tsx
  components/pages/postInfo/author.tsx
  components/pages/postInfo/avatar.tsx
  components/pages/postInfo/index.tsx
  components/pages/title-desc.tsx
  components/user-inputs/button.tsx
  components/user-inputs/call-to-action.tsx
  components/user-inputs/input-compare.tsx
  components/user-inputs/input.tsx
  components/user-inputs/select.tsx
  components/user-inputs/sign-up.tsx
  lib/firebase.ts
  package-lock.json
  package.json
  styles/Input.module.scss
  styles/_variables.scss
  utils/about-page-content.tsx
  utils/error/inputDefaultErrors.ts
  utils/globals.ts
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

add user context, apply testing signup, etc
  components/pages/footer/left..tsx
  lib/user-context.tsx
  pages/_app.tsx
  pages/blog/[slug].tsx
  pages/blog/index.tsx
  pages/o-nas.tsx
  pages/spotkania.tsx
  types.ts
Due: prettier --config .prettierrc --write, eslint --fix

enable clearing style of button
  components/user-inputs/button.tsx
  styles/Button.module.scss
  styles/globals.scss
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

add utils for errors, common input props, and move contexts there
  utils/about-page-content.tsx
  utils/contexts/auth-dialog.tsx
  utils/contexts/user.tsx
  utils/errors.ts
  utils/inputProps.ts
Due: prettier --config .prettierrc --write, eslint --fix

center calendar
  styles/meetings/Calendar.module.scss
Due: prettier --config .prettierrc --write, npx stylelint --fix

add spinner
  components/spinner.tsx
Due: prettier --config .prettierrc --write, eslint --fix

expand input props to input attributes
  components/user-inputs/input-compare.tsx
  components/user-inputs/input.tsx
  components/user-inputs/sign-up.tsx
Due: prettier --config .prettierrc --write, eslint --fix

add simple authentication component without saving user yet
  components/auth/index.tsx
  components/auth/sign-in.tsx
  components/auth/sign-up.tsx
  components/header.tsx
  components/pages/about/content.tsx
  components/pages/footer/right.tsx
  components/pages/header/index.tsx
  components/pages/header/pages-links.tsx
  components/pages/layout.tsx
  lib/firebase.ts
  lib/user-context.tsx
  pages/_app.tsx
  pages/o-nas.tsx
  styles/Auth.module.scss
  styles/_variables.scss
  types.ts
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix

fix pointer error
  styles/Select.module.scss
Due: prettier --config .prettierrc --write, npx stylelint --fix

default error handling
  lib/firebase.ts
  utils/errors.ts
Due: prettier --config .prettierrc --write, eslint --fix

add toast container
  pages/_app.tsx
  styles/globals.scss
Due: prettier --config .prettierrc --write, eslint --fix, npx stylelint --fix
